.header-container {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.card {
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 10px gray;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  padding: 2rem 1rem 1rem;
  position: relative;
  width: 200px;
}

.card-container {
  display: inline-block;
  flex-direction: row;
}

.image-card {
  width: 100%;
}

.card-price {
  color: rgb(138, 22, 37);
  flex-grow: 1;
  padding: 10px;
  text-align: center;
  text-shadow: 2px 2px 10px rgb(22, 22, 22);
}

.card-title {
  align-items: center;
  display: flex;
  margin: 5px auto;
  text-align: center;
}

.search-button {
  background-color: rgb(138, 22, 37);
  border-radius: 0.3rem;
  box-shadow: 2px 2px 10px gray;
  color: aliceblue;
  padding: 0.5rem;
}

.search-input {
  background-color: rgb(173, 49, 65);
  border-radius: 10px;
  box-shadow: 2px 2px 10px gray;
  color: aliceblue;
  font-weight: 600;
  padding: 0.5rem;
  width: 350px;
}

.tira-ponto {
  list-style-type: none;
}
